.jumbotron {
  text-align: center;
  background-color: #DAEFFC;
}

.page-header {
  text-align: center;
}

.container {
background-color: white;
}

.img-responsive {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#btn {
  color:#B08981;
  width: 200px;

}

.explanation {
  font-family: Helvetica;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: auto;
  font-size: 120%;
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #DAEFFC;

}
