.jumbotron {
  text-align: center;
  background-color: #DAEFFC;
}

.page-header {
  text-align: center;
}

.container {
background-color: white;
}

.img-responsive {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#btn {
  color:#B08981;
  width: 200px;

}

.page-header {

}
