.nav {
  text-align: center;
  background-color: #F0EAE9;
}

.page-header {
  text-align: center;
}

.container {
background-color: #E5DCDA  ;
}

.img-responsive {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#btn {
  color:#B08981;
  width: 200px;

}
